[Unit]
Description=Link shortener!
After=network.target

[Service]
User=...
Group=...
Type=simple
ExecStart=...
WorkingDirectory=...
EnvironmentFile=...
Restart=always

[Install]
WantedBy=multi-user.target