<!doctype html>
<!--suppress ALL -->
<html lang="en">
    <head>
        <!-- Required -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="static/js/index.js"></script>
        <link rel="stylesheet" href="static/css/index.css">

        <title>URL Shortener</title>
    </head>
    <body class="vw-100" onload="onLoad('{{ shortened_url }}');">

        <div class="container">
            <h1 class="text-center">Please input your link</h1>

            <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
                <form action="" method="get" class="mt-5 text-center">
                    <div class="form-floating mx-auto">
                        <input id="floatingURL"
                               class="form-control form-control-lg"
                               name="url"
                               type="url"
                               spellcheck="false"
                               placeholder="https://ya.ru/"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Link copied!"
                               onfocus="showTooltip(); onPressInput();"
                               aria-describedby="message"
                               required>
                        <label for="floatingURL">Link</label>
                        {% if message %}
                            <small id="message" class="form-text text-danger text-start">{{ message }}</small>
                        {% else %}
                            <small id="message" class`="form-text"></small>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary mt-3 mb-3 wx-auto">Generate short link!</button>
                </form>
            </div>

        </div>
    </body>
</html>
